<ion-header *ngIf="movie | async as m">
  <ion-toolbar color="mycolor">
    <ion-title>{{m.title}}</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content style="background-color: black;">

  <ion-row>
    <ion-col class="column">
      <!-- MOVIE INFO -->
      <ion-card class="card" *ngIf="movie | async as m">
        <div class="ion-text-center">
          <img *ngIf="m.backdrop_path !== null" src="https://image.tmdb.org/t/p/w500{{m.backdrop_path}}"
            class="poster" />
          <img *ngIf="m.backdrop_path === null"
            src="https://dummyimage.com/500x280/ffffff/000000&text=POSTER+NOT+AVAILABLE" class="poster" />
        </div>

        <ion-card-header class="cardHeader">
          <ion-card-title class="cardTitle">{{m.title}}</ion-card-title>
          <ion-card-subtitle class="cardSubtitle"> {{m.release_date | date:'MMM d, y'}} | 134 minutes
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="cardOverview">
          <ion-row>
            <ion-col size="4">
              <img *ngIf="m.poster_path !== null" src="https://image.tmdb.org/t/p/w500{{m.poster_path}}"
                class="poster" />
              <img *ngIf="m.poster_path === null"
                src="https://dummyimage.com/500x750/ffffff/000000.jpg&text=POSTER+NOT+AVAILABLE" class="poster" />
            </ion-col>
            <ion-col>
              {{m.overview}}
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>

      <!-- RATING VOTES WATCHLIST-->
      <ion-card class="card" *ngIf="movie | async as m">
        <ion-card-content class="ion-text-center">
          <ion-row class="iconsBar">
            <ion-col size="3">
              <ion-icon name="star" class="iconStar"></ion-icon>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="people" class="iconPeople"></ion-icon>
            </ion-col>
            <ion-col size="6" class="iconBarIcon">
              <ion-icon name="add-circle-outline" class="iconAdd"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row class="subIconsBar">
            <ion-col size="3">
              <span class="rank">{{m.vote_average}}</span>/10
            </ion-col>
            <ion-col size="3">
              <span>{{m.vote_count}}</span>
            </ion-col>
            <ion-col size="6">
              Add to Watchlist
            </ion-col>
          </ion-row>


        </ion-card-content>
      </ion-card>
      <!-- MOVIE INFO -->

      <!-- RELATED MOVIES -->
      <ion-card class="cardRelated">
        <ion-card-header class="cardHeaderRelated">
          <ion-card-title class="cardTitle2">
            <span class="yellowBar">
              <ion-icon name="chevron-forward"></ion-icon>
            </span>More like this
          </ion-card-title>
        </ion-card-header>

        <ion-card-content *ngFor="let relatedMovie of listOfRelatedMovies | async">

          <ion-row >
            <ion-col size="4">
              <img *ngIf="relatedMovie.poster_path !== null" src="https://image.tmdb.org/t/p/w500{{relatedMovie.poster_path}}"
                class="poster" />
              <img *ngIf="relatedMovie.poster_path === null"
                src="https://dummyimage.com/500x750/ffffff/000000.jpg&text=POSTER+NOT+AVAILABLE" class="poster" />
            </ion-col>
            <ion-col>
              {{relatedMovie.title}}
            </ion-col>
          </ion-row>

        
        </ion-card-content>
      </ion-card>
      <!-- RELATED MOVIES -->



    </ion-col>
  </ion-row>
</ion-content>