<ion-header>
  <ion-toolbar color="mycolor" class="pageTitle">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <!-- Default Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="card">

    <div class="header">
      <div class="avatar">
        <img *ngIf="!this.hasPhoto" src="../../../assets/avatar.png" alt="">
        <img *ngIf="this.hasPhoto" src="{{this.userPhotoFromDB_PROFILE}}" alt="">

        <img *ngIf="this.isGoogleUser" src="{{this.userPhotoURL}}" alt="">
        <img *ngIf="this.isGoogleUser && hasPhoto" src="{{this.userPhotoFromDB_PROFILE}}" alt="">
      </div>
    </div>


    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="userName">{{this.userDisplayName}}</h3>
        <h3 class="userName" *ngIf="this.userDisplayName === null"> {{this.userEmail}}</h3>
        <ion-row>
          <h5 class="userEmail" *ngIf="this.userDisplayName !== null" style="padding-top: 5px; font-size: 1.2em;"> <span
              style="color: orange"> ✉</span>
            {{this.userEmail}}</h5>
        </ion-row>
        <ion-row>
          <h6 class="userJoined" style="font-size: 1em;">
            <span style="color: orange"> 📆</span> Joined: {{this.userCreatedAt |
            date:'MMM d, y'}}
          </h6>
        </ion-row>
      </div>

      <div class="editButton">
        <ion-button shape="round" expand="block" color="warning" (click)="changePhoto()">Change photo &nbsp; <ion-icon
            name="camera-outline">
          </ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>