<ion-header>
  <ion-toolbar color="mycolor" class="pageTitle">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <!-- Default Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="card">

    <div class="header">
      <div class="avatar">
        <img *ngIf="!this.hasPhoto" src="../../../assets/avatar.png" alt="">
        <img *ngIf="this.hasPhoto" src="{{this.userPhotoFromDB_PROFILE}}" alt="">

        <img *ngIf="this.isGoogleUser" src="{{this.userPhotoURL}}" alt="">
        <img *ngIf="this.isGoogleUser && hasPhoto" src="{{this.userPhotoFromDB_PROFILE}}" alt="">
      </div>
    </div>


    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">{{this.userDisplayName}}</h3>
        <h3 class="playername" *ngIf="this.userDisplayName === null">{{this.userEmail}}</h3>
        <h5 class="country" *ngIf="this.userDisplayName !== null">{{this.userEmail}}</h5>
        <h6 class="ranking">Joined: {{this.userCreatedAt | date:'MMM d, y'}}</h6>
      </div>

      <div class="editButton">
        <ion-button shape="round" expand="block" color="warning" (click)="changePhoto()">Change photo<ion-icon name="camera-outline">
          </ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>